.start-button {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: coral;
    font-weight: 700;
    color: white;
}

.start-button:hover {
    background-color: rgb(255, 111, 59);
}